.banner {
position: relative;
height: 548px;
background-image: url("/static/HackerBot.jpg");
background-repeat: no-repeat;
background-size: 100%;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.testbox {
display: flex;
justify-content: center;
align-items: center;
height: 80%;
padding: 0px;
margin: 10px;
}
form {
height: 830px;
width: 50%;
padding: 10px;
border-radius: 16px;
background: #fff;
box-shadow: 0 0 20px 0 #095484;
}
.input_area{
border-radius: 20px;
width: 70%;
text-align: center;
color:rgb(2, 16, 17);
}
.input_area_btn{
border-radius: 20px;
width: 90%;
text-align: center;
color:rgb(2, 16, 17);
}
.btn_checker{
margin: 4px;
width: 80%;
height: 50px;
font-size: 17px;
background-color:rgb(15, 147, 156);
border-radius: 20px;
}