{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Определить бота вконтакте</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" media="(min-width: 1440px)" href="/static/style_4k.css">
    <link rel="stylesheet" media="(max-width: 1440px)" href="/static/style_1440.css">
    <link rel="stylesheet" media="(max-width: 1024px)" href="/static/style_1024.css">
    <link rel="stylesheet" media="(max-width: 768px)" href="/static/style_768.css">
    <link rel="stylesheet" media="(max-width: 425px)" href="/static/style_425.css">
    <link rel="stylesheet" media="(max-width: 375px)" href="/static/style_375.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<body>
    <div class="testbox">
    <form action="/external/" method="post">
        <div class="banner"></div>
        {% csrf_token %}
       Input Text:
       <br>
        <input type="text" class="input_area_btn" name="param" placeholder="Введите id пользователя VK" required>
        <br>
        <input type="submit" class="btn_checker" value="Проверить">
        <!-- <p>Точность модели</p>
        <input type="text" class="input_area" name="data" value={{data1.accuracy}}> -->
        <br>

    </form>
    </div>
    <br>
</body>
</html>